<a [routerLink]="['/patientlist']">Back</a>
<br />
<h2 class="page-header">Add Patient</h2>
<form (submit)="onAddSubmit()">
  <div class="form-group">
    <label>Patient Name</label>
    <input class="form-control" type="text" [(ngModel)]="p_name" name="p_name" required>
  </div>
  <div class="form-group">
    <label>City</label>
    <input class="form-control" type="text" [(ngModel)]="p_city" name="p_city" required>
  </div>
  <div class="form-group">
    <label>Guardian</label>
    <input class="form-control" type="text" [(ngModel)]="p_guardian" name="p_guardian" required>
  </div>
  <div class="form-group">
    <label>Age</label>
    <input class="form-control" type="number" [(ngModel)]="p_age" name="p_age" required>
  </div>
  <div class="form-group">
    <label>Room Type</label>
    <select class="form-control" type="text" [(ngModel)]="p_roomtype" name="p_roomtype" required>
      <option value="Single">Single</option>
      <option value="Shared">Shared</option>
      <option value="General">General</option>
    </select>
  </div>
  <div class="form-group">
    <label>Initial Deposit</label>
    <input class="form-control" type="text" [(ngModel)]="p_initial_deposit" name="p_initial_deposit" required>
  </div>
  <input type="submit" value="submit" class="btn btn-success">
</form>
